img {
	width: 100px;
	height: 100px;
	margin-right: -5px;
}/* Your Awesome Website */

#links {
	width: 400px;
	margin: 0 auto;
}

h2 {
	font-family: Monotype Corsiva;
	margin-left: 50px;
	margin-right: 10px;
	color: white;

}

#title {
	margin: 0 auto;
}

body {

	background: black;
}